[submodule "link/.bash/git-aware-prompt"]
	path = link/.bash/git-aware-prompt
	url = ./link/.bash/git-aware-prompt
[submodule "link/.tmux/tmux-themepack"]
	path = link/.tmux/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "link/.tmux/plugins/tpm"]
	path = link/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
